<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-275">
  <div class="cs-container">
    <!-- Logo Group -->
    <div class="cs-logo-group">
      <a aria-label="go back to home" class="cs-logo" href="/">
        <img
          class="cs-logo-img"
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="/assets/images/Joel-Baker-Logo-Light-H.png"
          alt="logo"
          width="240"
          height="32"
        />
      </a>
      <p class="cs-text">
        If you've scrolled this far, you're clearly committed (or just as
        curious as me). Let's put that energy to good use!
      </p>
      <br />
      <p class="cs-text">
        Copyright &copy;
        <script>
          document.write(new Date().getFullYear());
        </script>
        &nbsp;Joel Baker Counseling <br />All rights reserved
      </p>
    </div>
    <!-- Site Credits -->
    <ul class="affiliates-ul">
      <!-- Affiliate Links -->
      <li class="cs-nav-li">
        <span class="cs-header">Affiliates</span>
      </li>
      <div class="affiliate-links">
        <a href="https://www.midtownpsychotherapy.org/">
          <img
            src="/assets/images/midtown-psychotherapy-associates.png"
            alt="Link to Midtown Psychotherapy Associates"
          />
        </a>
        <a
          href="https://www.credly.com/badges/a166db90-9507-47d2-bf0f-a9c81fedcdf2/public_url"
          alt="link to credly.com verification"
          target="_blank"
          class="credly"
        >
          <img
            src="/assets/images/aamft-approved-supervisor.png"
            alt="aamft approved logo"
          />
        </a>
      </div>
    </ul>
    <!-- Links -->
    <ul class="cs-nav">
      <li class="cs-nav-li">
        <span class="cs-header">Sitemap</span>
      </li>
      <li class="cs-nav-li">
        <a class="cs-nav-link" href="/">Home</a>
      </li>
      <li class="cs-nav-li">
        <a class="cs-nav-link" href="/about/">About</a>
      </li>
      <li class="cs-nav-li">
        <a class="cs-nav-link" href="/services/">Services</a>
      </li>
      <li class="cs-nav-li">
        <a class="cs-nav-link" href="/gallery/">Gallery</a>
      </li>
      <li class="cs-nav-li">
        <a class="cs-nav-link" href="/contact/">Contact</a>
      </li>
    </ul>

    <!-- Contact Info -->
    <ul class="cs-contact">
      <li class="cs-nav-li">
        <span class="cs-header">Contact</span>
      </li>
      <li class="cs-contact-li">
        <a
          class="cs-contact-link cs-address"
          href="{{ client.address.mapLink }}"
          target="_blank"
          rel="noopener"
        >
          {{ client.address.lineOne }}, <br />
          {{ client.address.lineTwo }}, <br />
          {{ client.address.city }}, {{ client.address.state }} {{
          client.address.zip }}
        </a>
      </li>
      <li class="cs-contact-li">
        <a class="cs-contact-link" href="tel:{{ client.phoneForTel }}"
          >{{ client.phoneFormatted }}</a
        >
      </li>
      <li class="cs-contact-li">
        <a class="cs-contact-link" href="mailto:{{ client.email }}"
          >{{ client.email }}</a
        >
      </li>
    </ul>
  </div>
  <div id="footer-credits">
    <a
      href="https://www.codelesstraveled.com"
      alt="link to code less traveled website"
    >
      Website by
      <img
        src="/assets/images/clt-logo-v1.png"
        alt="logo for code less traveled"
      />
    </a>
  </div>
</footer>
