---
title: "About | Joel Baker Counseling"
description: "Meta description for the page"
permalink: "/about/"
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/about.css" />
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-310">
  <div class="cs-container">
    <span class="cs-int-title">About</span>
    <div class="cs-breadcrumbs">
      <a href="/" class="cs-link">Home</a>
      <a href="/about/" class="cs-link cs-active">About</a>
    </div>
  </div>
</div>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="About-Page">
  <div class="cs-container">
    <!-- Left Image Section -->
    <div class="cs-image-group">
      <picture class="cs-picture cs-picture1">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="{% getUrl
        "/assets/images/gallery/office-pic-2.jpg" | resize({ width: 482, height:
        536 }) | avif %}" type="image/avif"> <source media="(max-width: 600px)"
        srcset="{% getUrl "/assets/images/gallery/office-pic-2.jpg" | resize({
        width: 482, height: 536 }) | webp %}" type="image/webp"> <source
        media="(max-width: 600px)" srcset="{% getUrl
        "/assets/images/gallery/office-pic-2.jpg" | resize({ width: 482, height:
        536 }) | jpeg %}" type="image/jpeg">
        <!--Tablet Image-->
        <source media="(max-width: 1024px)" srcset="{% getUrl
        "/assets/images/gallery/office-pic-2.jpg" | resize({ width: 802, height:
        892 }) | avif %}" type="image/avif"> <source media="(max-width: 1024px)"
        srcset="{% getUrl "/assets/images/gallery/office-pic-2.jpg" | resize({
        width: 802, height: 892 }) | webp %}" type="image/webp"> <source
        media="(max-width: 1024px)" srcset="{% getUrl
        "/assets/images/gallery/office-pic-2.jpg" | resize({ width: 802, height:
        892 }) | jpeg %}" type="image/jpeg">
        <!--Desktop Image-->
        <source media="(min-width: 1024px)" srcset="{% getUrl
        "/assets/images/gallery/office-pic-2.jpg" | resize({ width: 1044,
        height: 1162 }) | avif %}" type="image/avif"> <source media="(min-width:
        1024px)" srcset="{% getUrl "/assets/images/gallery/office-pic-2.jpg" |
        resize({ width: 1044, height: 1162 }) | webp %}" type="image/webp">
        <source media="(min-width: 1024px)" srcset="{% getUrl
        "/assets/images/gallery/office-pic-2.jpg" | resize({ width: 1044,
        height: 1162 }) | jpeg %}" type="image/jpeg"> <img src="{% getUrl
        "/assets/images/gallery/office-pic-2.jpg" | resize({ width: 1044,
        height: 1162 }) | jpeg %}" alt="joel baker in office" width="522"
        height="581" decoding="async">
      </picture>
      <picture class="cs-picture cs-picture2">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="{% getUrl
        "/assets/images/jbakerbio-1.jpg" | resize({ width: 366, height: 354 }) |
        avif %}" type="image/avif"> <source media="(max-width: 600px)"
        srcset="{% getUrl "/assets/images/jbakerbio-1.jpg" | resize({ width:
        366, height: 354 }) | webp %}" type="image/webp"> <source
        media="(max-width: 600px)" srcset="{% getUrl
        "/assets/images/jbakerbio-1.jpg" | resize({ width: 366, height: 354 }) |
        jpeg %}" type="image/jpeg">
        <!--Tablet Image-->
        <source media="(max-width: 1024px)" srcset="{% getUrl
        "/assets/images/jbakerbio-1.jpg" | resize({ width: 600, height: 578 }) |
        avif %}" type="image/avif"> <source media="(max-width: 1024px)"
        srcset="{% getUrl "/assets/images/jbakerbio-1.jpg" | resize({ width:
        600, height: 578 }) | webp %}" type="image/webp"> <source
        media="(max-width: 1024px)" srcset="{% getUrl
        "/assets/images/jbakerbio-1.jpg" | resize({ width: 600, height: 578 }) |
        jpeg %}" type="image/jpeg">
        <!--Desktop Image-->
        <source media="(min-width: 1024px)" srcset="{% getUrl
        "/assets/images/jbakerbio-1.jpg" | resize({ width: 780, height: 752 }) |
        avif %}" type="image/avif"> <source media="(min-width: 1024px)"
        srcset="{% getUrl "/assets/images/jbakerbio-1.jpg" | resize({ width:
        780, height: 752 }) | webp %}" type="image/webp"> <source
        media="(min-width: 1024px)" srcset="{% getUrl
        "/assets/images/jbakerbio-1.jpg" | resize({ width: 780, height: 752 }) |
        jpeg %}" type="image/jpeg"> <img src="{% getUrl
        "/assets/images/jbakerbio-1.jpg" | resize({ width: 780, height: 752 }) |
        jpeg %}" alt="gavel" width="390" height="376" loading="lazy"
        decoding="async">
      </picture>
    </div>
    <!-- Right Content Section-->
    <div class="cs-content">
      <h2 class="cs-title">Hi! I'm Joel Baker</h2>
      <p class="cs-text">
        In addition to specializing in trauma and helping with anxiety and
        depression, I work with a wide range of client concerns, including
        marriage and relationship difficulties, overwhelming emotions,
        parenting, and tough decision-making. Your therapy is tailored to your
        needs. That is whether you come on your own, with your family, or as a
        couple.
      </p>
      <p class="cs-text">
        <h3 class="sub-title">Experience</h3>
        My experience spans hospital settings, family clinics, private practice,
        and working in clients' homes. I've supported at-risk teens and their
        families, provided leadership to teams of counselors, and supervise new
        therapists on their way to obtaining licensure. I have also served on
        the Georgia Association for Marriage and Family Therapy (GAMFT), working
        to further the health of our professional therapy community. These
        diverse experiences have shaped my approach, allowing me to help clients
        through what they bring to the room.
      </p>
      <p class="cs-text">
        I primarily utilize Experiential Therapy as the foundation of my
        approach. Rather than just talking about your concerns, Experiential
        Therapy focuses on actively engaging with and working through challenges
        in a safe, professional setting. This client-centered method can create
        meaningful relief and empower you beyond the therapy room. While I am
        EMDR-trained and incorporate Acceptance and Commitment Therapy (ACT),
        Solution Focused Therapy, and other modalities, Experiential Therapy
        primarily guides our work together. I always tailor my approach to fit
        each client's unique needs, ensuring there is a thoughtful plan behind
        every session. My goal is to work alongside you, on your team,
        supporting your growth every step of the way.
      </p>
      <p class="cs-text">
        <h3 class="sub-title">Recent work</h3>
        My recent work centers on supporting men's issues, strengthening couples
        relationships, providing affirming care as an LGBTQ+ ally, and helping
        clients heal from trauma. I am passionate about helping clients in all
        stages of life, including adults, teens, couples, and families.
      </p>
      <p class="cs-text">
        I believe that everyone can find connection and fulfillment when they
        intentionally seek healing. My goal is to create a safe, confidential
        space where you can explore important choices and experiences to find
        direction and resolution. Therapy with me is a partnership, focused on
        growth, self-care, and building the life you want.
      </p>
      <!-- <div class="cs-quote">
        <span class="cs-quote-text">
          As we grow up, we realize that it's less important to have lots of
          friends and more important to have real ones.
          </span>
        <span class="cs-name">Ben Gray</span>
        <span class="cs-job">Wizard, Middle Earth</span>
        <img
          00
          class="cs-quote-icon"
          loading="lazy"
          decoding="async"
          src="/assets/svgs/quote.svg"
          alt="gavel"
          width="136"
          height="77"
        />
      </div> -->
    </div>
  </div>
</section>

{% include 'sections/cta.html' %} {% endblock %}
