---
title: "Program | Joel Baker Counseling"
description: "Meta description for the page"
permalink: "/program/"
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/program.css" />
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-310">
  <div class="cs-container">
    <span class="cs-int-title">Program</span>
    <div class="cs-breadcrumbs">
      <a href="/" class="cs-link">Home</a>
      <a href="/program/" class="cs-link cs-active">Program</a>
    </div>
  </div>
</div>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="Program-Page">
  <div class="cs-container">
    <!-- Left Image Section -->
    <div class="cs-content">
      <h2 class="cs-title">My Treatment Process</h2>
      <p class="cs-text">
        In consequat tincidunt turpis sit amet imperdiet. Praesent Class
        officelan nonatoureanor mauris laoreet, iaculis libero quis. Curabitur
        et tempus eri consequat tincidunt turpis sit amet imperdiet. Praesent
        nonatourean olei aptent taciti sociosqu ad litora torquent per.
      </p>
    </div>
    <!-- Right Content Section-->
    <div class="cs-image-group">
      <picture class="cs-picture cs-picture1">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="{% getUrl
        "/assets/images/rocks.jpg" | resize({ width: 482, height: 536 }) | avif
        %}" type="image/avif"> <source media="(max-width: 600px)" srcset="{%
        getUrl "/assets/images/rocks.jpg" | resize({ width: 482, height: 536 })
        | webp %}" type="image/webp"> <source media="(max-width: 600px)"
        srcset="{% getUrl "/assets/images/rocks.jpg" | resize({ width: 482,
        height: 536 }) | jpeg %}" type="image/jpeg">
        <!--Tablet Image-->
        <source media="(max-width: 1024px)" srcset="{% getUrl
        "/assets/images/rocks.jpg" | resize({ width: 802, height: 892 }) | avif
        %}" type="image/avif"> <source media="(max-width: 1024px)" srcset="{%
        getUrl "/assets/images/rocks.jpg" | resize({ width: 802, height: 892 })
        | webp %}" type="image/webp"> <source media="(max-width: 1024px)"
        srcset="{% getUrl "/assets/images/rocks.jpg" | resize({ width: 802,
        height: 892 }) | jpeg %}" type="image/jpeg">
        <!--Desktop Image-->
        <source media="(min-width: 1024px)" srcset="{% getUrl
        "/assets/images/rocks.jpg" | resize({ width: 1044, height: 1162 }) |
        avif %}" type="image/avif"> <source media="(min-width: 1024px)"
        srcset="{% getUrl "/assets/images/rocks.jpg" | resize({ width: 1044,
        height: 1162 }) | webp %}" type="image/webp"> <source media="(min-width:
        1024px)" srcset="{% getUrl "/assets/images/rocks.jpg" | resize({ width:
        1044, height: 1162 }) | jpeg %}" type="image/jpeg"> <img src="{% getUrl
        "/assets/images/rocks.jpg" | resize({ width: 1044, height: 1162 }) |
        jpeg %}" alt="lawyers" width="522" height="581" decoding="async">
      </picture>
      <picture class="cs-picture cs-picture2">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="{% getUrl
        "/assets/images/hands.jpg" | resize({ width: 366, height: 354 }) | avif
        %}" type="image/avif"> <source media="(max-width: 600px)" srcset="{%
        getUrl "/assets/images/hands.jpg" | resize({ width: 366, height: 354 })
        | webp %}" type="image/webp"> <source media="(max-width: 600px)"
        srcset="{% getUrl "/assets/images/hands.jpg" | resize({ width: 366,
        height: 354 }) | jpeg %}" type="image/jpeg">
        <!--Tablet Image-->
        <source media="(max-width: 1024px)" srcset="{% getUrl
        "/assets/images/hands.jpg" | resize({ width: 600, height: 578 }) | avif
        %}" type="image/avif"> <source media="(max-width: 1024px)" srcset="{%
        getUrl "/assets/images/hands.jpg" | resize({ width: 600, height: 578 })
        | webp %}" type="image/webp"> <source media="(max-width: 1024px)"
        srcset="{% getUrl "/assets/images/hands.jpg" | resize({ width: 600,
        height: 578 }) | jpeg %}" type="image/jpeg">
        <!--Desktop Image-->
        <source media="(min-width: 1024px)" srcset="{% getUrl
        "/assets/images/hands.jpg" | resize({ width: 780, height: 752 }) | avif
        %}" type="image/avif"> <source media="(min-width: 1024px)" srcset="{%
        getUrl "/assets/images/hands.jpg" | resize({ width: 780, height: 752 })
        | webp %}" type="image/webp"> <source media="(min-width: 1024px)"
        srcset="{% getUrl "/assets/images/hands.jpg" | resize({ width: 780,
        height: 752 }) | jpeg %}" type="image/jpeg"> <img src="{% getUrl
        "/assets/images/hands.jpg" | resize({ width: 780, height: 752 }) | jpeg
        %}" alt="gavel" width="390" height="376" loading="lazy"
        decoding="async">
      </picture>
    </div>
  </div>
</section>

{% include 'sections/cta.html' %} {% endblock %}
