---
title: "Services | Joel Baker Counseling"
description: "Meta description for the page"
permalink: "/services/"
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/services.css" />
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-310">
  <div class="cs-container">
    <span class="cs-int-title">Services</span>
    <div class="cs-breadcrumbs">
      <a href="/" class="cs-link">Home</a>
      <a href="/services/" class="cs-link cs-active">Services</a>
    </div>
  </div>
</div>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="Services-Page">
  <div class="cs-container">
    <!-- Left Content Section -->
    <div class="cs-content">
      <h2 class="cs-title">My Treatment Process</h2>

      <h3 class="sub-title" id="individualTherapy">Individual Therapy</h3>
      <p class="cs-text">
        When you enter therapy there are many directions we could explore. We
        will pay close attention when your emotions, mind, and body give you
        information about what you are experiencing and follow where it leads.
        Individual therapy is a process of discovery, understanding, healing and
        growth. In individual therapy you get the chance to have a rare,
        dedicated space to explore without judgement. I'll be there to help you
        weed out distractions and get to the root of your desire for change and
        how to get there. This is your time to have it tailored to you. Together
        we will work to validate your experiences and reconnect with your inner
        strength to live more fully and authentically.</p>
        <p class="cs-text">
          Often people come to individual therapy with a goal in mind for a more immediate need. I love
        this kind of work we can do together because we have a chance to commit our efforts, getting to what matters quickly. While I love helping
        clients make meaningful changes quickly, my favorite kind of therapy is
        the deep dive. This is where we take time to explore your inner world,
        uncovering layers of experience, emotion, and meaning. Deep dive therapy
        is about curiosity, courage, and kindness to yourself. Leaning into your
        experiences and understanding your past and present.
        </p>
      </p>

      <h3 class="sub-title" id="emdr">EMDR / Trauma Therapy</h3>
      <p class="cs-text">As a clinician trained in EMDR (Eye Movement Desensitization and Reprocessing), we can process traumas together. Many of us have endured tough or overwhelming experiences. Trauma is when those experiences have taught you to believe negative things about how you see yourself or the world around you. You may have feelings of guilt, shame, powerlessness, unsafety, mistrust, or being not enough. This could be a sign that those difficult experiences have taken hold in a way that has traumatized you. Through trauma therapy and EMDR there is a path to knowing you can be safe, seen, and enough.</p>

      <h3 class="sub-title" id="couplesTherapy">Couples Therapy</h3>
      <p class="cs-text">
        The quality of your relationships can dramatically affect your wellbeing throughout your life. While couples therapy may present challenges, it is often one of the most impactful steps you can take to support your health. I utilize tools from several different couples therapy models to best suit your circumstances. We will talk about your relationship from a lens of Gottman, EFT (Emotionally Focused Therapy), and trauma informed couples therapy. The goal of this type of therapy is to empower each individual within the couple to have understanding for their partner, build empathy and listening skills, and to learn how to stay in hard conversations. These skills not only enhance your connection as a couple but can also enrich all of your important relationships.
      </p>

      <h3 class="sub-title" id="familyTherapy">Family Therapy</h3>
      <p class="cs-text">When your family faces difficult topics, uncertainty about next steps, or challenges to your sense of connection, Family Therapy can provide valuable guidance. I have experience working with adult siblings, adult children and their aging parents, as well as families with younger children, helping each find ways to structure their interactions and strengthen their bonds. Every family member brings unique strengths to the table and learning how to harness these strengths together can bring hope and meaning, especially during times when you may feel lost. In Family Therapy, each person is valued and recognized as an important contributor to healthier, more meaningful interactions. Together, you'll work to understand one another, establish healthy boundaries, and create a family structure that fosters genuine connection.</p>

      <h3 class="sub-title" id="therapistSupervision">Supervision of Therapists</h3>
      <p class="cs-text">
        In addition to seeing clients, I enjoy working with new colleagues as they further develop their skills in the practice of Systemic Therapy. Whether you are pursuing licensure as a marriage and family therapist or seeking a richer supervision experience with systemic perspectives, we can work to achieve your goals. I offer supervision in person or virtually, tailored for individuals, dyads, and groups. As an AAMFT-approved supervisor, I use a systemic, experiential, and person-of-the-therapist approach to create a meaningful and supportive learning environment. My favorite thing about supervision is to see a newly licensed clinician feel confident in their skills, know how to lean on their support, and stay engaged with the profession as a lifelong learner.
      </p>
    </div>

    <!-- Right Image Section-->
    <div class="cs-image-group">
      <picture class="cs-picture cs-picture1">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="{% getUrl
        "/assets/images/rocks.jpg" | resize({ width: 482, height: 536 }) | avif
        %}" type="image/avif"> <source media="(max-width: 600px)" srcset="{%
        getUrl "/assets/images/rocks.jpg" | resize({ width: 482, height: 536 })
        | webp %}" type="image/webp"> <source media="(max-width: 600px)"
        srcset="{% getUrl "/assets/images/rocks.jpg" | resize({ width: 482,
        height: 536 }) | jpeg %}" type="image/jpeg">
        <!--Tablet Image-->
        <source media="(max-width: 1024px)" srcset="{% getUrl
        "/assets/images/rocks.jpg" | resize({ width: 802, height: 892 }) | avif
        %}" type="image/avif"> <source media="(max-width: 1024px)" srcset="{%
        getUrl "/assets/images/rocks.jpg" | resize({ width: 802, height: 892 })
        | webp %}" type="image/webp"> <source media="(max-width: 1024px)"
        srcset="{% getUrl "/assets/images/rocks.jpg" | resize({ width: 802,
        height: 892 }) | jpeg %}" type="image/jpeg">
        <!--Desktop Image-->
        <source media="(min-width: 1024px)" srcset="{% getUrl
        "/assets/images/rocks.jpg" | resize({ width: 1044, height: 1162 }) |
        avif %}" type="image/avif"> <source media="(min-width: 1024px)"
        srcset="{% getUrl "/assets/images/rocks.jpg" | resize({ width: 1044,
        height: 1162 }) | webp %}" type="image/webp"> <source media="(min-width:
        1024px)" srcset="{% getUrl "/assets/images/rocks.jpg" | resize({ width:
        1044, height: 1162 }) | jpeg %}" type="image/jpeg"> <img src="{% getUrl
        "/assets/images/rocks.jpg" | resize({ width: 1044, height: 1162 }) |
        jpeg %}" alt="lawyers" width="522" height="581" decoding="async">
      </picture>
      <picture class="cs-picture cs-picture2">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="{% getUrl
        "/assets/images/hands.jpg" | resize({ width: 366, height: 354 }) | avif
        %}" type="image/avif"> <source media="(max-width: 600px)" srcset="{%
        getUrl "/assets/images/hands.jpg" | resize({ width: 366, height: 354 })
        | webp %}" type="image/webp"> <source media="(max-width: 600px)"
        srcset="{% getUrl "/assets/images/hands.jpg" | resize({ width: 366,
        height: 354 }) | jpeg %}" type="image/jpeg">
        <!--Tablet Image-->
        <source media="(max-width: 1024px)" srcset="{% getUrl
        "/assets/images/hands.jpg" | resize({ width: 600, height: 578 }) | avif
        %}" type="image/avif"> <source media="(max-width: 1024px)" srcset="{%
        getUrl "/assets/images/hands.jpg" | resize({ width: 600, height: 578 })
        | webp %}" type="image/webp"> <source media="(max-width: 1024px)"
        srcset="{% getUrl "/assets/images/hands.jpg" | resize({ width: 600,
        height: 578 }) | jpeg %}" type="image/jpeg">
        <!--Desktop Image-->
        <source media="(min-width: 1024px)" srcset="{% getUrl
        "/assets/images/hands.jpg" | resize({ width: 780, height: 752 }) | avif
        %}" type="image/avif"> <source media="(min-width: 1024px)" srcset="{%
        getUrl "/assets/images/hands.jpg" | resize({ width: 780, height: 752 })
        | webp %}" type="image/webp"> <source media="(min-width: 1024px)"
        srcset="{% getUrl "/assets/images/hands.jpg" | resize({ width: 780,
        height: 752 }) | jpeg %}" type="image/jpeg"> <img src="{% getUrl
        "/assets/images/hands.jpg" | resize({ width: 780, height: 752 }) | jpeg
        %}" alt="gavel" width="390" height="376" loading="lazy"
        decoding="async">
      </picture>
    </div>
  </div>
</section>

{% include 'sections/cta.html' %} {% endblock %}
