---
title: "Joel Baker Counseling | Atlanta, GA"
description: "Meta description for the page"
permalink: "/"
tags: "sitemap" # content/content.json will make sure that all pages in content/ are marked with a "sitemap" tag, for automatic sitemap generation. As index.html is not in content/, we need to add it here to ensure the root page is included in the sitemap generation
---

{% extends "layouts/base.html" %} {% block head %}
<!-- Critical styles are loaded first -->
<link rel="stylesheet" href="/assets/css/critical.css" />

<!-- Google Fonts Preload -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

<!-- If we're in production, defer the rest of the home page styles. In development, always load it. Otherwise the site will break when hot-reload is used. -->
{% if kit.isProduction %}
<link
  rel="preload"
  href="/assets/css/local.css"
  as="style"
  onload="this.onload=null;this.rel='stylesheet'"
/>
<noscript>
  <link rel="stylesheet" href="/assets/css/local.css" />
</noscript>

{% else %}
<link rel="stylesheet" href="/assets/css/local.css" />
{% endif %}

<!-- To ensure proper validation, prevent errors, and encourage developers to check, schema's are an opt-in feature. They're very bespoke and requires some customising  -->
<!-- Uncomment the code below to enable Structured Data, and test it when you deploy to Netlify - https://developers.google.com/search/docs/appearance/structured-data -->
<!-- {% include "components/home-schema.html" %} -->
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-143">
  <!-- Background Image -->
  <picture class="cs-background">
    <!--Mobile Image-->
    <source media="(max-width: 600px)" srcset="{% getUrl
    "/assets/images/surfer.jpg" | resize({ width: 640, height: 1490 }) | avif
    %}" type="image/avif"> <source media="(max-width: 600px)" srcset="{% getUrl
    "/assets/images/surfer.jpg" | resize({ width: 640, height: 1490 }) | webp
    %}" type="image/webp"> <source media="(max-width: 600px)" srcset="{% getUrl
    "/assets/images/surfer.jpg" | resize({ width: 640, height: 1490 }) | jpeg
    %}" type="image/jpeg">
    <!--Tablet Image-->
    <source media="(max-width: 1024px)" srcset="{% getUrl
    "/assets/images/surfer.jpg" | resize({ width: 2048, height: 1922 }) | avif
    %}" type="image/avif"> <source media="(max-width: 1024px)" srcset="{% getUrl
    "/assets/images/surfer.jpg" | resize({ width: 2048, height: 1922 }) | webp
    %}" type="image/webp"> <source media="(max-width: 1024px)" srcset="{% getUrl
    "/assets/images/surfer.jpg" | resize({ width: 2048, height: 1922 }) | jpeg
    %}" type="image/jpeg">
    <!--Large Tablet Image-->
    <source media="(min-width: 1024px) and (max-width: 1300px)" srcset="{%
    getUrl "/assets/images/surfer.jpg" | resize({ width: 2048, height: 1922 }) |
    avif %}" type="image/avif"> <source media="(min-width: 1024px) and
    (max-width: 1300px)" srcset="{% getUrl "/assets/images/surfer.jpg" |
    resize({ width: 2048, height: 1922 }) | webp %}" type="image/webp"> <source
    media="(min-width: 1024px) and (max-width: 1300px)" srcset="{% getUrl
    "/assets/images/surfer.jpg" | resize({ width: 2048, height: 1922 }) | jpeg
    %}" type="image/jpeg">
    <!--Desktop Image-->
    <source media="(min-width: 1300px)" srcset="{% getUrl
    "/assets/images/surfer.jpg" | resize({ width: 1, height: 1 }) | avif %}"
    type="image/avif"> <source media="(min-width: 1300px)" srcset="{% getUrl
    "/assets/images/surfer.jpg" | resize({ width: 1, height: 1 }) | webp %}"
    type="image/webp"> <source media="(min-width: 1300px)" srcset="{% getUrl
    "/assets/images/surfer.jpg" | resize({ width: 1, height: 1 }) | jpeg %}"
    type="image/jpeg"> <img src="{% getUrl "/assets/images/surfer.jpg" |
    resize({ width: 1, height: 1 }) | jpeg %}" alt="surfer" width="1" height="1"
    loading="eager" decoding="async">
  </picture>
  <div class="cs-container">
    <h1 class="cs-title">
      Great relationships are built daily. Let me help you build yours.
    </h1>
    <a href="/contact/" class="cs-button-solid">Get in Touch</a>
  </div>
</section>

<!-- ============================================ -->
<!--                About Blurb                   -->
<!-- ============================================ -->

<section id="h-services-143">
  <ul class="cs-card-group">
    <div class="home-about-section">
      <div class="home-about-image">
        <img src="assets/images/jbakerbio-1.jpg" alt="photo of joel baker" />
      </div>
      <div class="home-about-summary">
        <span>Where compassion and expertise unite</span>
        You took the right step to look for an objective perspective. Whether
        you're feeling stuck in anxiety, navigating relationship difficulties,
        or processing traumatic experiences, I believe you have what it takes
        within you to find a better way. My role is to walk beside you, helping
        bring out your strengths and supporting you as you grow. We will work
        together to find a path to change. <br /><br />As a Licensed Marriage
        and Family Therapist (LMFT) in Georgia, I specialize in trauma, anxiety,
        and relationship challenges. I create a safe, welcoming environment for
        individuals, couples, and families looking for growth. As an LGBTQ+ ally
        and having worked with diverse groups of clients, I am committed to
        focusing on what truly matters to you.
        <div class="learn-more-link">
          <a href="/about"
            >More about me <i class="fa-solid fa-arrow-right"></i
          ></a>
        </div>
      </div>
    </div>
  </ul>
</section>

<!-- ============================================ -->
<!--            Mental Health Services            -->
<!-- ============================================ -->

<section id="RPsbsr-313">
  <div class="cs-container">
    <!-- Top Content Section-->
    <div class="cs-content">
      <h2 class="cs-title">Where your story guides the work</h2>
      <!-- <p class="cs-text">
        In consequat tincidunt turpis sit amet imperdiet. Praesent Class
        officelan nonatoureanor mauris laoreet, iaculis libero quis.
      </p> -->
    </div>
    <!-- Left Image Section -->
    <div class="cs-image-group">
      <picture class="cs-picture">
        <a href="/services/?section=individualTherapy">
          <div class="text-box">
            Individual <br />Therapy
            <div class="button">
              <i class="fa-solid fa-arrow-right"></i>
            </div>
          </div>
        </a>
        <source media="(max-width: 600px)" srcset="{% getUrl
        "/assets/images/individual-psychotherapy.jpg" | resize({ width: 482,
        height: 536 }) | avif %}" type="image/avif"> <source media="(max-width:
        600px)" srcset="{% getUrl "/assets/images/individual-psychotherapy.jpg"
        | resize({ width: 482, height: 536 }) | webp %}" type="image/webp">
        <source media="(max-width: 600px)" srcset="{% getUrl
        "/assets/images/individual-psychotherapy.jpg" | resize({ width: 482,
        height: 536 }) | jpeg %}" type="image/jpeg">
        <!--Tablet Image-->
        <source media="(max-width: 1024px)" srcset="{% getUrl
        "/assets/images/individual-psychotherapy.jpg" | resize({ width: 802,
        height: 892 }) | avif %}" type="image/avif"> <source media="(max-width:
        1024px)" srcset="{% getUrl "/assets/images/individual-psychotherapy.jpg"
        | resize({ width: 802, height: 892 }) | webp %}" type="image/webp">
        <source media="(max-width: 1024px)" srcset="{% getUrl
        "/assets/images/individual-psychotherapy.jpg" | resize({ width: 802,
        height: 892 }) | jpeg %}" type="image/jpeg">
        <!--Desktop Image-->
        <source media="(min-width: 1024px)" srcset="{% getUrl
        "/assets/images/individual-psychotherapy.jpg" | resize({ width: 1044,
        height: 1162 }) | avif %}" type="image/avif"> <source media="(min-width:
        1024px)" srcset="{% getUrl "/assets/images/individual-psychotherapy.jpg"
        | resize({ width: 1044, height: 1162 }) | webp %}" type="image/webp">
        <source media="(min-width: 1024px)" srcset="{% getUrl
        "/assets/images/individual-psychotherapy.jpg" | resize({ width: 1044,
        height: 1162 }) | jpeg %}" type="image/jpeg"> <img src="{% getUrl
        "/assets/images/individual-psychotherapy.jpg" | resize({ width: 1044,
        height: 1162 }) | jpeg %}" alt="path" width="350" loading="lazy"
        decoding="async">
      </picture>
      <picture class="cs-picture">
        <a href="/services/?section=couplesTherapy">
          <div class="text-box">
            Couples <br />Therapy
            <div class="button">
              <i class="fa-solid fa-arrow-right"></i>
            </div>
          </div>
        </a>
        <source media="(max-width: 600px)" srcset="{% getUrl
        "/assets/images/couples-therapy.jpg" | resize({ width: 430, height: 478
        }) | avif %}" type="image/avif"> <source media="(max-width: 600px)"
        srcset="{% getUrl "/assets/images/couples-therapy.jpg" | resize({ width:
        430, height: 478 }) | webp %}" type="image/webp"> <source
        media="(max-width: 600px)" srcset="{% getUrl
        "/assets/images/couples-therapy.jpg" | resize({ width: 430, height: 478
        }) | jpeg %}" type="image/jpeg">
        <!--Tablet Image-->
        <source media="(max-width: 1024px)" srcset="{% getUrl
        "/assets/images/couples-therapy.jpg" | resize({ width: 802, height: 892
        }) | avif %}" type="image/avif"> <source media="(max-width: 1024px)"
        srcset="{% getUrl "/assets/images/couples-therapy.jpg" | resize({ width:
        802, height: 892 }) | webp %}" type="image/webp"> <source
        media="(max-width: 1024px)" srcset="{% getUrl
        "/assets/images/couples-therapy.jpg" | resize({ width: 802, height: 892
        }) | jpeg %}" type="image/jpeg">
        <!--Desktop Image-->
        <source media="(min-width: 1024px)" srcset="{% getUrl
        "/assets/images/couples-therapy.jpg" | resize({ width: 1044, height:
        1162 }) | avif %}" type="image/avif"> <source media="(min-width:
        1024px)" srcset="{% getUrl "/assets/images/couples-therapy.jpg" |
        resize({ width: 1044, height: 1162 }) | webp %}" type="image/webp">
        <source media="(min-width: 1024px)" srcset="{% getUrl
        "/assets/images/couples-therapy.jpg" | resize({ width: 1044, height:
        1162 }) | jpeg %}" type="image/jpeg"> <img src="{% getUrl
        "/assets/images/couples-therapy.jpg" | resize({ width: 1044, height:
        1162 }) | jpeg %}" alt="image of a couple in therapy" width="350"
        loading="lazy" decoding="async">
      </picture>
      <picture class="cs-picture">
        <a href="/services/?section=therapistSupervision">
          <div class="text-box">
            Therapist <br />Supervision
            <div class="button">
              <i class="fa-solid fa-arrow-right"></i>
            </div>
          </div>
        </a>
        <source media="(max-width: 600px)" srcset="{% getUrl
        "/assets/images/therapist-supervision.jpg" | resize({ width: 482,
        height: 536 }) | avif %}" type="image/avif"> <source media="(max-width:
        600px)" srcset="{% getUrl "/assets/images/therapist-supervision.jpg" |
        resize({ width: 482, height: 536 }) | webp %}" type="image/webp">
        <source media="(max-width: 600px)" srcset="{% getUrl
        "/assets/images/therapist-supervision.jpg" | resize({ width: 482,
        height: 536 }) | jpeg %}" type="image/jpeg">
        <!--Tablet Image-->
        <source media="(max-width: 1024px)" srcset="{% getUrl
        "/assets/images/therapist-supervision.jpg" | resize({ width: 802,
        height: 892 }) | avif %}" type="image/avif"> <source media="(max-width:
        1024px)" srcset="{% getUrl "/assets/images/therapist-supervision.jpg" |
        resize({ width: 802, height: 892 }) | webp %}" type="image/webp">
        <source media="(max-width: 1024px)" srcset="{% getUrl
        "/assets/images/therapist-supervision.jpg" | resize({ width: 802,
        height: 892 }) | jpeg %}" type="image/jpeg">
        <!--Desktop Image-->
        <source media="(min-width: 1024px)" srcset="{% getUrl
        "/assets/images/therapist-supervision.jpg" | resize({ width: 1044,
        height: 1162 }) | avif %}" type="image/avif"> <source media="(min-width:
        1024px)" srcset="{% getUrl "/assets/images/therapist-supervision.jpg" |
        resize({ width: 1044, height: 1162 }) | webp %}" type="image/webp">
        <source media="(min-width: 1024px)" srcset="{% getUrl
        "/assets/images/therapist-supervision.jpg" | resize({ width: 1044,
        height: 1162 }) | jpeg %}" type="image/jpeg"> <img src="{% getUrl
        "/assets/images/therapist-supervision.jpg" | resize({ width: 1044,
        height: 1162 }) | jpeg %}" alt="image of a therapist in supervision"
        width="350" loading="lazy" decoding="async">
      </picture>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--            Treatment Process                 -->
<!-- ============================================ -->

<section id="treatment-process">
  <div class="cs-container">
    <div class="treatment-content">
      <div class="treatment-steps-list">
        <h2 class="cs-title">My treatment process</h2>
        <div class="treatment-step">
          <div class="step-number">01</div>
          <h3>Initial Consultation</h3>
          A chance to get to know each other. Where we talk about what makes
          therapy a good fit and how to best meet your needs.
        </div>
        <div class="treatment-step">
          <div class="step-number">02</div>
          <h3>Assessment</h3>
          We work together to map out goals or begin to get the big picture of
          where therapy can support your growth.
        </div>
        <div class="treatment-step">
          <div class="step-number">03</div>
          <h3>"The Work"</h3>
          Where real change takes place. Going from just visiting to having a
          therapist/client relationship and seeing a difference in real time.
        </div>
        <div class="treatment-step">
          <div class="step-number">04</div>
          <h3>Wrapping it up</h3>
          We will reflect on your progress and prepare for the next chapter of
          leaning into the new way of being you.
        </div>
        <div class="learn-more-link">
          <a href="/services">
            More about my services
            <i class="fa-solid fa-arrow-right"></i>
          </a>
        </div>
      </div>
      <div class="picture-grid">
        <div class="background1"></div>
        <div class="background2"></div>
        <div class="cs-picture top-left-picture">
          <img src="assets/images/hands.jpg" alt="" />
        </div>
        <div class="cs-picture top-right-picture">
          <img src="assets/images/chatting.jpg" alt="" />
        </div>
        <div class="cs-picture bottom-left-picture">
          <img src="assets/images/rocks.jpg" alt="" />
        </div>
        <div class="cs-picture bottom-right-picture">
          <img src="assets/images/talking.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

{% include 'sections/cta.html' %} {% endblock %}
